################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KHRMS/.vs
/KHRMS/bin/Debug/net8.0/KHRMS.Core.dll
/KHRMS/bin/Debug/net8.0/KHRMS.Core.pdb
/KHRMS/bin/Debug/net8.0/KHRMS.deps.json
/KHRMS/bin/Debug/net8.0/KHRMS.dll
/KHRMS/bin/Debug/net8.0/KHRMS.exe
/KHRMS/bin/Debug/net8.0/KHRMS.Infrastructure.dll
/KHRMS/bin/Debug/net8.0/KHRMS.Infrastructure.pdb
/KHRMS/bin/Debug/net8.0/KHRMS.pdb
/KHRMS/bin/Debug/net8.0/KHRMS.Services.dll
/KHRMS/bin/Debug/net8.0/KHRMS.Services.pdb
/KHRMS/obj/Debug/net8.0/KHRMS.dll
/KHRMS/obj/Debug/net8.0/KHRMS.pdb
/KHRMS/obj/Debug/net8.0/ref/KHRMS.dll
/KHRMS/obj/Debug/net8.0/refint/KHRMS.dll
/KHRMS.Core/bin/Debug/net8.0/KHRMS.Core.dll
/KHRMS.Core/bin/Debug/net8.0/KHRMS.Core.pdb
/KHRMS.Core/obj/Debug/net8.0/KHRMS.Core.dll
/KHRMS.Core/obj/Debug/net8.0/KHRMS.Core.pdb
/KHRMS.Core/obj/Debug/net8.0/ref/KHRMS.Core.dll
/KHRMS.Core/obj/Debug/net8.0/refint/KHRMS.Core.dll
/KHRMS.Infrastructure/bin/Debug/net8.0/KHRMS.Core.dll
/KHRMS.Infrastructure/bin/Debug/net8.0/KHRMS.Core.pdb
/KHRMS.Infrastructure/bin/Debug/net8.0/KHRMS.Infrastructure.dll
/KHRMS.Infrastructure/bin/Debug/net8.0/KHRMS.Infrastructure.pdb
/KHRMS.Infrastructure/obj/Debug/net8.0/KHRMS.Infrastructure.pdb
/KHRMS.Infrastructure/obj/Debug/net8.0/ref/KHRMS.Infrastructure.dll
/KHRMS.Infrastructure/obj/Debug/net8.0/refint/KHRMS.Infrastructure.dll
/KHRMS.Services/bin/Debug/net8.0/KHRMS.Core.dll
/KHRMS.Services/bin/Debug/net8.0/KHRMS.Core.pdb
/KHRMS.Services/bin/Debug/net8.0/KHRMS.Infrastructure.dll
/KHRMS.Services/bin/Debug/net8.0/KHRMS.Infrastructure.pdb
/KHRMS.Services/bin/Debug/net8.0/KHRMS.Services.dll
/KHRMS.Services/obj/Debug/net8.0/ref/KHRMS.Services.dll
/KHRMS.Services/obj/Debug/net8.0/refint/KHRMS.Services.dll
/KHRMS.Services/obj/Debug/net8.0/KHRMS.Services.dll
/KHRMS.Services/obj/Debug/net8.0/KHRMS.Services.pdb
/KHRMS.Services/bin/Debug/net8.0/KHRMS.Services.pdb
